.container {
  width: inherit;
  background: inherit;
}

/* -------------------------------- 
Main components 
-------------------------------- */

#timeline {
  position: relative;
  padding: 1em 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
#timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #fca600;
  border-radius: 40%;
}

.timeline-block {
  position: relative;
  margin: 3em 0;
}

.timeline-icon {
  position: absolute;
  left: 11px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fca600;
  background: #ee8900;
}

.timeline-content {
  position: relative;
  margin-left: 60px;
  border-radius: 5px;
  color: inherit;
}

.timeline-content p {
  margin: auto;
  line-height: 1.6;
}

.timeline-detail h2 {
  margin-bottom: 5px !important;
}

.timeline-detail p {
  margin-bottom: 0;
  line-height: 1.6;
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 0;
}

.timeline-description p {
  margin-top: 10px;
  margin-bottom: 0;
}
