---
layout: page
# Resume layout.
---

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/assets/css/resume.css" />
</head>
<body>
<section id="timeline" class="container">
    <!-- timeline-block -->

    <div class="timeline-block">
        <div class="timeline-icon"></div>
        <!-- timeline-img -->

        <div class="timeline-content">
            <div class="timeline-detail">
                <h2>Covid-19 Sabbatical</h2>
                <p>
                    May 2020 <span>&#8212;</span> Present <span>&#8231;</span> 1 yr 10
                    mos
                </p>
            </div>
            <div class="timeline-description">
                <p>
                    I could stop working... So I did. Best. Decision. Ever.</br>See the <a href="/about">about</a>
                    section for more what I am doing!
                </p>
            </div>
        </div>
        <!-- timeline-content -->
    </div>
    <!-- timeline-block -->
    <!-- timeline-block -->

    <div class="timeline-block">
        <div class="timeline-icon"></div>
        <!-- timeline-img -->

        <div class="timeline-content">
            <div class="timeline-detail">
                <h2>Business Analyst - Service Platform</h2>
                <p>QIMA <span>&#8212;</span> Contract</p>
                <p>
                    Mar 2020 <span>&#8212;</span> Apr 2020 <span>&#8231;</span> 2 mos
                </p>
                <p>Lille, Hauts-de-France, France</p>
            </div>
            <div class="timeline-description">
                <p>Requirements draft for a post-merger integration:</p>
                <ul>
                    <li>
                        Creation of scrum backlog and user stories for both front office
                        and back office operations
                    </li>
                    <li>
                        Conception of a small design system from scratch using Adobe XD to
                        fast-track prototyping and UI/UX iterations
                    </li>
                    <li>
                        Collaboration with teams across multiple timezones and cultures
                        (Latin America, Europe and Asia)
                    </li>
                </ul>
            </div>
        </div>
        <!-- timeline-content -->
    </div>
    <!-- timeline-block -->

    <div class="timeline-block">
        <div class="timeline-icon"></div>
        <!-- timeline-img -->

        <div class="timeline-content">
            <div class="timeline-detail">
                <h2>Product Owner - Artificial Intelligence, Digital Innovation & Automation</h2>
                <p>AXA <span>&#8212;</span> Full-time</p>
                <p>
                    Jul 2019 <span>&#8212;</span> Feb 2020 <span>&#8231;</span> 8 mos
                </p>
                <p>Brussels Area, Belgium</p>
            </div>
            <div class="timeline-description">
                <p>Backlog prioritization regarding all generic components (both back-end and front-end) within the
                    product « DOX » , AXA Belgium documents exchange portal:</p>
                <ul>
                    <li>
                        Played as first translator between business and IT (at technical level with developers)
                    </li>
                    <li>
                        First end-to-end automated flow put in production after 3 months, followed by a delivery of one
                        flow per month (total use cases delivered in 2019: 700k€ with a NPV > 1.5m€)
                    </li>
                    <li>
                        Achieved a 54% completion rate for all flows with an average customer experience score of 89%
                    </li>
                    <li>Lean development and continuous flow improvements based on « Built-Measure-Learn » approach
                        thanks to A/B testing, customer behavior analysis and data-driven transformation</li>
                    <li>Scrum team made of 2 back-end developers, 1 front-end developer and 1 UX/UI designer
                    </li>
                </ul>
                <p>Promoted to technical lead on brokers-facing chatbot initiatives, currently in close testing</p>
            </div>
        </div>
        <!-- timeline-content -->
    </div>
    <!-- timeline-block -->

    <div class="timeline-block">
        <div class="timeline-icon"></div>
        <!-- timeline-img -->

        <div class="timeline-content">
            <div class="timeline-detail">
                <h2>Business Analyst - Artificial Intelligence, Digital Innovation & Automation</h2>
                <p>AXA <span>&#8212;</span> Full-time</p>
                <p>
                    Jan 2019 <span>&#8212;</span> Jun 2019 <span>&#8231;</span> 6 mos
                </p>
                <p>Brussels Area, Belgium</p>
            </div>
            <div class="timeline-description">
                <p>Identification of automation (AI/Robotics) opportunities based on business & data analysis to feed
                    our digitalisation pipeline:</p>
                <ul>
                    <li>
                        Process analysis and mapping to identify tactical approaches and full process re-engineering
                        solutions
                    </li>
                    <li>
                        Close interactions with both business (team managers, executives) and technical stakeholders (AI
                        engineers & data scientists, programmers, solution architects, etc.) to design sound solutions
                    </li>
                    <li>
                        First experience in people management while coaching 3 interns as business/data analysts (with
                        projects ranging from dashboarding to ETL)
                    </li>
                </ul>
                <p>Technical lead and coordinator of the Centre of Excellence QlikView:</p>
                <ul>
                    <li>
                        Chapter regrouping 30 active developers covering all business units within AXA BE
                    </li>
                    <li>
                        Technical support for system administration & automation regarding Qlik servers
                    </li>
                    <li>
                        Extended to a broader scope regarding general Performance Management to increase the business
                        maturity regarding metrics & key performance indicators, data literacy and overall data-driven
                        transformation.
                    </li>
                </ul>
            </div>
        </div>
        <!-- timeline-content -->
    </div>
    <!-- timeline-block -->
    <!-- timeline-block -->

    <div class="timeline-block">
        <div class="timeline-icon"></div>
        <!-- timeline-img -->

        <div class="timeline-content">
            <div class="timeline-detail">
                <h2>Data Analyst - People Planning & Analytics</h2>
                <p>AXA <span>&#8212;</span> Full-time</p>
                <p>
                    Sep 2017 <span>&#8212;</span> Dec 2018 <span>&#8231;</span> 1 yr 4 mos
                </p>
                <p>Brussels Area, Belgium</p>
            </div>
            <div class="timeline-description">
                <p>Creation of different online dashboards increasing the overall visibility of HR analytics, pushing
                    for more data-driven decisions::</p>
                <ul>
                    <li>
                        tarting from scratch, I gained in-depth knowledge and proficiency with QlikView;
                    </li>
                    <li>
                        I reviewed in-place processes for leaner and more efficient solutions (better, more robust and
                        automated business intelligence solutions, business definitions clarification and alignement for
                        better communication, full process reengineering to remove time waste and error-generating
                        steps, etc. )
                    </li>
                    <li>
                        Besides the importance of defining beforehand business concepts, I also developed some of my
                        soft skills along the way (client orientation, change and stakeholder’s management)
                    </li>
                </ul>
                <p>Be one of the key members of the Centre of Excellence QlikView, which includes:</p>
                <ul>
                    <li>
                        Actively coaching & developing 7 buddies in their QlikView journey;
                    </li>
                    <li>
                        Drafting tutorials for advanced scripting approaches and solutions (dynamic data reduction using
                        section access, external centralization of expressions, advanced set analysis using master
                        calendar, etc) ;
                    </li>
                    <li>
                        Contributing to the tool visibility with all relevant stakeholders, identifying potential
                        use-cases, etc.
                    </li>
                </ul>
                <p>Start to learn PowerApps within the O365 architecture to deliver quick innovative solutions:</p>
                <ul>
                    <li>
                        Creation of first minimum lovable product of a new capacity management tool. Later
                        industrialized and deployed to 250 insurance clerks.
                    </li>
                    <li>
                        A First experience in UX and UI design regarding apps development, based on internal guidelines
                        and best practices.
                    </li>
                </ul>
            </div>
        </div>
        <!-- timeline-content -->
    </div>
    <!-- timeline-block -->
    <div class="timeline-block">
        <div class="timeline-icon"></div>
        <!-- timeline-img -->
        <div class="timeline-content">
            <div class="timeline-detail">
                <h2>External Consultant - Finance</h2>
                <p>Famous Clothes SA (Caméléon) <span>&#8212;</span> Internship</p>
                <p>
                    Ôct 2016 <span>&#8212;</span> Jan 2017 <span>&#8231;</span> 4 mos
                </p>
                <p>Brussels Area, Belgium</p>
            </div>
            <div class="timeline-description">
                <p>Under Boston Consulting Group coaching and supervising, recommendations were made on purchasing
                    strategy
                    and products range definition to decrease Caméléon's working capital requirement. Recommendations
                    were
                    drafted through:</p>
                <ul>
                    <li>
                        extensive internal data analyses of their sales using Microsoft Access and Tableau: in-depth
                        analysis of the cash conversion cycle for each of their products (days of
                        inventory/sales/payables
                        outstanding)
                    </li>
                    <li>
                        development of a detailed benchmark of industry players to highlight best practices and better
                        strategic positioning in the Belgian apparel market
                    </li>
                    <li>
                        design and conduct of a large scale customer survey to identify brand appeals and improvement
                        points
                        for better customer services
                    </li>
                </ul>
            </div>
        </div>
        <!-- timeline-content -->
    </div>
    <!-- timeline-block -->
    <div class="timeline-block">
        <div class="timeline-icon"></div>
        <!-- timeline-img -->
        <div class="timeline-content">
            <div class="timeline-detail">
                <h2>Solvay Brussels School - Economics & Management</h2>
                <p>M Sc. - Master of Science, Business Engineering - Advanced Management</p>
                <p>
                    2015 <span>&#8212;</span> 2017
                </p>
            </div>
            <div class="timeline-description">
                <p>Grade: Cum Laude</p>
                <p>Thesis: "Does the Northern Sea Route represent a credible alternative to the Suez Canal for
                    commercial
                    shipping between China and the EU?" </br> Supervisor: Marc Becquet ── Assessor: Samuele Furfari ──
                    Jury:
                    Science & Technology
                    Grade: 16,5/20.
                </p>
                </br>
                <p>The Master in Business Engineering offers the opportunity to understand and get involved in all areas
                    of
                    management. A business engineer can integrate the main functions and departments of organizations.
                    The
                    programme develops advanced knowledge and know-how in the areas of finance, marketing, control,
                    strategy, and human resources, but will also develop the skills that top executives and
                    entrepreneurs
                    require: information processing, problem solving, project leadership, people management,
                    communication,
                    ethical behavior, entrepreneurship, critical mindset and personal judgment, teamwork and
                    self-management. (source: www.solvay.edu)
                </p>
                </br>
                <p>#43 in master in management (ft.com, 2017)</p>
            </div>
        </div>
        <!-- timeline-content -->
    </div>
    <!-- timeline-block -->
    <!-- timeline-block -->
</section>
<!-- timeline --></body>

</html>